.container { 
    max-width: 1200px;
    margin:0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

h1 {
    color: #e36464;
    text-align: center;
    letter-spacing: 40px;
    text-shadow: 8px 8px 8px #e4c8c8;
    font-size: 80px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
}
h2 {
    color: #e06e51;
    text-align: left;
    letter-spacing: 4px;
    text-shadow: 8px 8px 8px #de8d67;
    font-size: 30px;
    font-family: "Long Cang", cursive;
  font-weight: 400;
  font-style: normal;
}
ul {
    list-style-type: circle;
    padding-left: 40px;
}
li {
    font-size: 15px;
    margin: 10px 0;

.dish-info {
    margin-left: 20px;
    text-align: right;
    max-width: 80%;
    margin: 10px auto;
}
.price {
    color: #e3a164;
    font-family: "Zhi Mang Xing", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  display: block;

}
.dish-name {
    color: rgb(209, 212, 130);
}
.description {
    color: #e39191;
    font-family: "Zhi Mang Xing", cursive;
  font-weight: 400;
  font-style: normal;
}